{% assign author = site.author %}

<div class="sidebar sticky">
  <div class="author__avatar">
    <img src="{{ author.avatar | prepend: '/images/' | relative_url }}" class="author__avatar" alt="{{ author.name }}" fetchpriority="high">
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse" aria-label="Show contact links">Contact</button>
    <ul class="author__urls">
      <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
      <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar ai-fw icon-pad-right" aria-hidden="true"></i>Google Scholar</a></li>
      <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
      <li><a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-fw fa-x-twitter icon-pad-right" aria-hidden="true"></i>X</a></li>
    </ul>
  </div>
</div>
