{% assign author = site.author %}

<aside class="sidebar">
  <img class="author__avatar" src="{{ author.avatar | prepend: '/images/' | relative_url }}" alt="{{ author.name }}" width="360" height="360" fetchpriority="high">
  <h3 class="author__name">{{ author.name }}</h3>
  <button class="btn btn--inverse author__contact" type="button" aria-expanded="false" aria-controls="author-urls">Contact</button>
  <ul id="author-urls" class="author__urls">
    <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i>Email</a></li>
    <li><a href="{{ author.googlescholar }}"><i class="ai ai-fw ai-google-scholar" aria-hidden="true"></i>Google Scholar</a></li>
    <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i>GitHub</a></li>
    <li><a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-fw fa-x-twitter" aria-hidden="true"></i>X</a></li>
  </ul>
</aside>
