/* ==========================================================================
   STYLE RESETS
   ========================================================================== */

@use "../themes" as *;
@use "../include/mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* the footer is positioned against the bottom of the page */
  position: relative;
  min-height: 100%;

  background-color: var(--global-bg-color);
  font-size: 16px;
  -webkit-text-size-adjust: 100%;

  @include breakpoint($medium) {
    font-size: 18px;
  }
}

::selection {
  color: #fff;
  background: #000;
}

a {
  color: var(--global-link-color);

  &:focus {
    @include tab-focus;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

/* Prevent sub and sup affecting line-height */

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Responsive images: never wider than the parent, height follows the width */

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

button {
  margin: 0;
  font-family: $sans-serif;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
  -webkit-appearance: button;
  cursor: pointer;
}
